<div class="row">
    <div class="col-md-12">
        <div class="iq-block">
            <div class="iq-block__header">
                <h1 class="iq-block__header__heading">Demo</h1>
            </div>
            <div class="iq-block__container">
                <div class="btn-group">
                    <a class="btn btn-default" ui-sref="demo.foo" ui-sref-active="active">foo</a>
                    <a class="btn btn-default" ui-sref="demo.bar" ui-sref-active="active">bar</a>
                    <a class="btn btn-default" ui-sref="demo.baz" ui-sref-active="active">baz</a>
                </div>
                <hr>
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
