<div class="iq-centered">
    <div class="iq-centered__wrap iq-block iq-block_style_login">
        <header class="iq-block__header">
            <h1 class="iq-block__header__heading">Вход в личный кабинет администратора</h1>
        </header>
        <div class="iq-block__container">
            <form name="form" ng-submit="loginVm.login()">
                <div class="form-group">
                    <label for="username" class="control-label">Имя пользователя</label>
                    <input type="text" id="username" class="form-control" name="username" ng-model="loginVm.data.username" required>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Пароль</label>
                    <input type="password" id="password" class="form-control" name="password" ng-model="loginVm.data.password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block"
                        ng-disabled="loginVm.isLoading || form.$invalid"
                        ng-class="{ 'btn-loading': loginVm.isLoading }">Войти</button>
                </div>
                <div class="form-group" ng-if="loginVm.error">
                        <div class="alert alert-danger" ng-bind="loginVm.error"></div>
                </div>
            </form>
        </div>
    </div>
</div>
